button[type="button"] 
    { 
    background-color:rgb(105, 128, 0); 
    color: black; 
    border: solid black 2px; 
    width: 100% 
} 
table{
    border: solid black 2px;
    width: 30%;
}
.title{ 
    margin-bottom: 2px;  
    color:green; 
    border: solid black 2px; 
}
.size{
    width: 80%;
    border: solid black 2px
}